
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VJC</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

</head>
<body class="container">
    <div>

        <h2>VJC TECNOLOGY</h2>
        Escolha a opção desejada:
        <hr />

        <a>VJC-BRASIL</a>
        <br />
        <a href="/Usuario/Autenticar" class="btn btn-outline-primary">Entrar</a>


        <br />
        <br />
        <br />


        <a> Não tem uma conta?</a>
        <br />

    
            <a href="/Usuario/CriarConta" class="btn btn-outline-primary">Criar Conta </a>

    </div>

</body>
</html>
